*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    

  }
  body{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    display: block;
    justify-content: center;
  }
  .bgContainer{
    width: 100%;
    height: 100vh;
  }
  video{
    width: 100%;
    height: 100vh;
    object-fit:cover;
    
  }
  .container{
    position: absolute;
    width: 77%;
    height: 100%;
    top: 60%;
    left: 50%;  
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  h1.wlc{
    font-size: 120px;
    color: #fff;
    font-weight: 700;
    transition: 0.5s;
  }
  h1.wlc:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
  }
  p.title{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    letter-spacing: 3px;
  }
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
  }
  .shop-now-btn{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    background-color: black;
    cursor: pointer;
  
  }
  .shop-now-btn:hover{
    background-color: gray;
    transition: 0.5s;
  }